In [1]:
import pandas as pd
import numpy as np


def load_data(file_path):
    """
    Load data from a CSV file and return a DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: DataFrame containing the loaded data.
    """
    try:
        data = pd.read_csv(file_path)
        return data
    except Exception as e:
        print(f"Error loading data: {e}")
        return None
    

df = load_data('../src/data_generation/shoe_store_dataset.csv')
df.head()

,InvoiceNo,StoreCode,Date,ReceiptType,Product_Desc,EAN,POSItemID,Article_Name,Colour,Size,Brand,P_Group,HSN,MRP,Quantity,Discount,Amount,NetAmount,GrossAmount,Year
0,SH00000001,SH011,2024-05-20,SALE,Paragon Sliders - Orange,9600133890838,SH539898,Sliders,Orange,7,Paragon,Sandals,6404,656,1,65.6,656,590.4,696.67,2024
1,SH00000001,SH011,2024-05-20,SALE,Crocs Sports Sandals - Red,6542351161559,SH377370,Sports Sandals,Red,6,Crocs,Sandals,6404,953,1,0.0,953,953.0,1124.54,2024
2,SH00000001,SH011,2024-05-20,SALE,Van Heusen Dress Boots - Cognac,1849593103413,SH205907,Dress Boots,Cognac,7,Van Heusen,Formal Shoes,6403,4600,1,920.0,4600,3680.0,4342.40,2024
3,SH00000001,SH011,2024-05-20,SALE,Action Sandals - Multi-color,5534192832764,SH771088,Sandals,Multi-color,6,Action,Kids Footwear,6403,1066,1,159.9,1066,906.1,1069.20,2024
4,SH00000002,SH012,2023-12-17,SALE,Metro Heels - Black,4139537672423,SH881177,Heels,Black,8,Metro,Ladies Footwear,6403,4086,1,0.0,4086,4086.0,4821.48,2023

In [2]:
df.isna().sum()

InvoiceNo       0
StoreCode       0
Date            0
ReceiptType     0
Product_Desc    0
EAN             0
POSItemID       0
Article_Name    0
Colour          0
Size            0
Brand           0
P_Group         0
HSN             0
MRP             0
Quantity        0
Discount        0
Amount          0
NetAmount       0
GrossAmount     0
Year            0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     100000 non-null  object
 1   StoreCode     100000 non-null  object
 2   Date          100000 non-null  object
 3   ReceiptType   100000 non-null  object
 4   Product_Desc  100000 non-null  object
 5   EAN           100000 non-null  int64
 6   POSItemID     100000 non-null  object
 7   Article_Name  100000 non-null  object
 8   Colour        100000 non-null  object
 9   Size          100000 non-null  int64
 10  Brand         100000 non-null  object
 11  P_Group       100000 non-null  object
 12  HSN           100000 non-null  int64
 13  MRP           100000 non-null  int64
 14  Quantity      100000 non-null  int64
 15  Discount      100000 non-null  float64
 16  Amount        100000 non-null  int64
 17  NetAmount     100000 non-null  float64
 18  GrossAmount   100000 non-null  float64
 19  Year          100000 non-null  int64
dtypes: float64(3), int64(7), object(10)
memory usage: 15.3+ MB

In [4]:
df.describe()

,EAN,Size,HSN,MRP,Quantity,Discount,Amount,NetAmount,GrossAmount,Year
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.00000,100000.000000,100000.000000
mean,5.003276e+12,7.942300,6403.127180,3826.359030,1.181080,476.65237,4519.333470,4042.68110,4770.363701,2023.107490
std,2.880724e+12,2.914693,0.333176,3128.862859,0.456149,755.29242,4330.106165,3915.76636,4620.604305,0.831242
min,2.610774e+07,1.000000,6403.000000,300.000000,1.000000,0.00000,300.000000,152.50000,179.950000,2022.000000
25%,2.510871e+12,6.000000,6403.000000,1630.000000,1.000000,0.00000,1760.000000,1553.95000,1833.660000,2022.000000
50%,5.017351e+12,8.000000,6403.000000,2689.000000,1.000000,230.87500,3069.000000,2714.65000,3203.285000,2023.000000
75%,7.485870e+12,10.000000,6403.000000,5110.000000,1.000000,590.10000,5829.000000,5231.16250,6172.772500,2024.000000
max,9.999889e+12,13.000000,6404.000000,15000.000000,3.000000,20689.50000,44796.000000,44577.00000,52600.860000,2024.000000

In [6]:
df2 = load_data('../src/data_generation/store_data.csv')
df2.head()

,ID,Code,BName,Address,City,State,PostalCode,Phone,sapStoreCode,sapStoreTypeCode,...,businessPhone,landline,removedDetail,merchandiser,merchandiser1,customRegion,StoreCode,storeManager,lic,emailID
0,1,SH001,Step Forward Shoes,"760, Mall Road",Kanpur,Uttar Pradesh,208115,+91-9287665392,SAPSH001,RET003,...,+91-7303959797,022-68181396,Active,Amit Singh,Meera Joshi,REG87,SH001,Shweta Srivastava,LIC377370,shweta.srivastava@company.com
1,2,SH002,Shoe World,"128, Main Street",Nagpur,Maharashtra,440471,+91-8996093227,SAPSH002,RET002,...,+91-7884593886,0141-49476249,Active,Kiran Desai,Amit Singh,REG17,SH002,Rohit Jain,LIC340174,rohit.jain@company.com
2,3,SH003,Shoe Station,"275, MG Road",Indore,Madhya Pradesh,452324,+91-7500892240,SAPSH003,RET002,...,+91-8733842953,0141-21540956,Active,Prakash Nair,Sanjay Mishra,REG24,SH003,Deepak Yadav,LIC814825,deepak.yadav@shoes.in
3,4,SH004,Premium Footwear,"115, Mall Road",Indore,Madhya Pradesh,452657,+91-7063824662,SAPSH004,RET003,...,+91-7280673699,022-91498611,Active,Ashish Pandey,Neha Agarwal,REG26,SH004,Suresh Reddy,LIC791798,suresh.reddy@retail.com
4,5,SH005,Style Steps,"541, Nehru Street",Jaipur,Rajasthan,302170,+91-7750118834,SAPSH005,RET001,...,+91-9192173624,080-92374753,Active,Rohit Jain,Ramesh Choudhary,REG83,SH005,Kiran Desai,LIC704201,kiran.desai@retail.com

In [7]:
df2.isna().sum()

ID                  0
Code                0
BName               0
Address             0
City                0
State               0
PostalCode          0
Phone               0
sapStoreCode        0
sapStoreTypeCode    0
storeZone           0
storeLocation       0
storeCarpetArea     0
areaGrading         0
rsmName             0
rsmEmail            0
rsmEmployeeCode     0
asmName             0
asmEmail            0
asmEmployeeCode     0
serverID            0
GSTIN               0
businessPhone       0
landline            0
removedDetail       0
merchandiser        0
merchandiser1       0
customRegion        0
StoreCode           0
storeManager        0
lic                 0
emailID             0
dtype: int64

In [10]:
import pandas as pd
import numpy as np

# Load the datasets
print("Loading datasets...")

# Read the sales data (invoice dataset)
try:
    df1_sales = load_data('../src/data_generation/shoe_store_dataset.csv')
    print(f"✅ Sales data loaded: {len(df1_sales)} records")
    print(f"Sales data columns: {list(df1_sales.columns)}")
    print(f"Unique store codes in sales data: {df1_sales['StoreCode'].nunique()}")
    print(f"Store codes: {sorted(df1_sales['StoreCode'].unique())}")
except FileNotFoundError:
    print("❌ Sales data file not found. Please run the invoice generator first.")
    exit()

# Read the store header data
try:
    df2_store = load_data('../src/data_generation/store_data.csv')
    print(f"\n✅ Store data loaded: {len(df2_store)} records")
    print(f"Store data columns: {list(df2_store.columns)}")
    print(f"Unique store codes in store data: {df2_store['Code'].nunique()}")
    print(f"Store codes: {sorted(df2_store['Code'].unique())}")
except FileNotFoundError:
    print("❌ Store data file not found. Please run the store header generator first.")
    exit()

# Verify store codes match
sales_store_codes = set(df1_sales['StoreCode'].unique())
header_store_codes = set(df2_store['Code'].unique())

print(f"\n=== Store Code Verification ===")
print(f"Sales data store codes: {len(sales_store_codes)}")
print(f"Header data store codes: {len(header_store_codes)}")
print(f"Codes match: {sales_store_codes == header_store_codes}")

if sales_store_codes != header_store_codes:
    print(f"Missing in header: {sales_store_codes - header_store_codes}")
    print(f"Extra in header: {header_store_codes - sales_store_codes}")

# Merge the datasets
print(f"\n=== Merging Datasets ===")
print("Merging sales data with store data on StoreCode...")

# Merge df1 (sales) with df2 (store) on StoreCode = Code
# Using left join to keep all sales records
merged_df = pd.merge(
    df1_sales, 
    df2_store, 
    left_on='StoreCode', 
    right_on='Code', 
    how='left',
    suffixes=('_sales', '_store')
)

print(f"✅ Merge completed!")
print(f"Original sales records: {len(df1_sales)}")
print(f"Merged records: {len(merged_df)}")
print(f"Records with store info: {merged_df['Code'].notna().sum()}")

# Check for any missing store information
missing_store_info = merged_df['Code'].isna().sum()
if missing_store_info > 0:
    print(f"⚠️  Warning: {missing_store_info} sales records don't have matching store information")
    print("Store codes without matches:")
    print(merged_df[merged_df['Code'].isna()]['StoreCode'].unique())
else:
    print("✅ All sales records have matching store information")

# Display merged dataset information
print(f"\n=== Merged Dataset Summary ===")
print(f"Total columns: {len(merged_df.columns)}")
print(f"Total records: {len(merged_df)}")

# Show column names
print(f"\nMerged dataset columns:")
for i, col in enumerate(merged_df.columns, 1):
    print(f"{i:2d}. {col}")

# Sample of merged data
print(f"\n=== Sample Merged Data ===")
sample_cols = ['InvoiceNo', 'StoreCode', 'Date', 'Article_Name', 'Brand', 'MRP', 
               'BName', 'City', 'State', 'storeZone', 'rsmName', 'storeManager']

available_cols = [col for col in sample_cols if col in merged_df.columns]
print(f"Sample with key columns:")
print(merged_df[available_cols].head(10).to_string(index=False))

# # Store-wise analysis
# print(f"\n=== Store-wise Analysis ===")
# store_summary = merged_df.groupby(['StoreCode', 'BName', 'City', 'storeZone']).agg({
#     'InvoiceNo': 'nunique',
#     'GrossAmount': ['sum', 'mean'],
#     'Quantity': 'sum'
# }).round(2)

# store_summary.columns = ['Total_Invoices', 'Total_Revenue', 'Avg_Transaction', 'Total_Quantity']
# store_summary = store_summary.reset_index().sort_values('Total_Revenue', ascending=False)

# print("Top 10 stores by revenue:")
# print(store_summary.head(10).to_string(index=False))

# # Zone-wise analysis
# print(f"\n=== Zone-wise Performance ===")
# zone_summary = merged_df.groupby('storeZone').agg({
#     'InvoiceNo': 'nunique',
#     'GrossAmount': 'sum',
#     'StoreCode': 'nunique'
# }).round(2)

# zone_summary.columns = ['Total_Invoices', 'Total_Revenue', 'Number_of_Stores']
# zone_summary['Avg_Revenue_per_Store'] = (zone_summary['Total_Revenue'] / zone_summary['Number_of_Stores']).round(2)
# zone_summary = zone_summary.sort_values('Total_Revenue', ascending=False)

# print(zone_summary.to_string())

# # City-wise analysis
# print(f"\n=== City-wise Performance ===")
# city_summary = merged_df.groupby('City').agg({
#     'InvoiceNo': 'nunique',
#     'GrossAmount': 'sum',
#     'StoreCode': 'nunique'
# }).round(2)

# city_summary.columns = ['Total_Invoices', 'Total_Revenue', 'Number_of_Stores']
# city_summary = city_summary.sort_values('Total_Revenue', ascending=False)

# print("Top cities by revenue:")
# print(city_summary.head().to_string())

# # Monthly performance with store details
# print(f"\n=== Monthly Performance by Zone ===")
# merged_df['Month'] = pd.to_datetime(merged_df['Date']).dt.to_period('M')
# monthly_zone = merged_df.groupby(['Month', 'storeZone'])['GrossAmount'].sum().unstack(fill_value=0)
# print("Monthly revenue by zone (last 6 months):")
# print(monthly_zone.tail(6).to_string())

# # Data quality check
# print(f"\n=== Data Quality Check ===")
# print("Missing values in key columns:")
# key_columns = ['InvoiceNo', 'StoreCode', 'Date', 'Article_Name', 'Brand', 'BName', 'City', 'State']
# for col in key_columns:
#     if col in merged_df.columns:
#         missing = merged_df[col].isna().sum()
#         print(f"{col}: {missing} missing values")

# Save the merged dataset
output_file = "merged_sales_store_data.csv"
merged_df.to_csv(output_file, index=False)
print(f"\n✅ Merged dataset saved to: {output_file}")

# Final summary
print(f"\n=== Final Summary ===")
print(f"📊 Dataset Statistics:")
print(f"   • Total records: {len(merged_df):,}")
print(f"   • Date range: {merged_df['Date'].min()} to {merged_df['Date'].max()}")
# print(f"   • Total stores: {merged_df['StoreCode'].nunique()}")
print(f"   • Total invoices: {merged_df['InvoiceNo'].nunique():,}")
print(f"   • Total revenue: ₹{merged_df['GrossAmount'].sum():,.2f}")
print(f"   • Cities covered: {merged_df['City'].nunique()}")
print(f"   • States covered: {merged_df['State'].nunique()}")

print(f"\n🏪 Store Information:")
print(f"   • RSMs managing stores: {merged_df['rsmName'].nunique()}")
print(f"   • ASMs managing stores: {merged_df['asmName'].nunique()}")
print(f"   • Store managers: {merged_df['storeManager'].nunique()}")
print(f"   • Geographic zones: {merged_df['storeZone'].nunique()}")

print(f"\n👟 Product Information:")
print(f"   • Product categories: {merged_df['P_Group'].nunique()}")
print(f"   • Brands available: {merged_df['Brand'].nunique()}")
print(f"   • Unique products: {merged_df['Article_Name'].nunique()}")

print("\n✅ Merge operation completed successfully!")
print(f"Use '{output_file}' for your analysis with complete sales and store information.")

Loading datasets...
✅ Sales data loaded: 100000 records
Sales data columns: ['InvoiceNo', 'StoreCode', 'Date', 'ReceiptType', 'Product_Desc', 'EAN', 'POSItemID', 'Article_Name', 'Colour', 'Size', 'Brand', 'P_Group', 'HSN', 'MRP', 'Quantity', 'Discount', 'Amount', 'NetAmount', 'GrossAmount', 'Year']
Unique store codes in sales data: 15
Store codes: ['SH001', 'SH002', 'SH003', 'SH004', 'SH005', 'SH006', 'SH007', 'SH008', 'SH009', 'SH010', 'SH011', 'SH012', 'SH013', 'SH014', 'SH015']

✅ Store data loaded: 15 records
Store data columns: ['ID', 'Code', 'BName', 'Address', 'City', 'State', 'PostalCode', 'Phone', 'sapStoreCode', 'sapStoreTypeCode', 'storeZone', 'storeLocation', 'storeCarpetArea', 'areaGrading', 'rsmName', 'rsmEmail', 'rsmEmployeeCode', 'asmName', 'asmEmail', 'asmEmployeeCode', 'serverID', 'GSTIN', 'businessPhone', 'landline', 'removedDetail', 'merchandiser', 'merchandiser1', 'customRegion', 'StoreCode', 'storeManager', 'lic', 'emailID']
Unique store codes in store data: 15
Store codes: ['SH001', 'SH002', 'SH003', 'SH004', 'SH005', 'SH006', 'SH007', 'SH008', 'SH009', 'SH010', 'SH011', 'SH012', 'SH013', 'SH014', 'SH015']

=== Store Code Verification ===
Sales data store codes: 15
Header data store codes: 15
Codes match: True

=== Merging Datasets ===
Merging sales data with store data on StoreCode...
✅ Merge completed!
Original sales records: 100000
Merged records: 100000
Records with store info: 100000
✅ All sales records have matching store information

=== Merged Dataset Summary ===
Total columns: 52
Total records: 100000

Merged dataset columns:
 1. InvoiceNo
 2. StoreCode_sales
 3. Date
 4. ReceiptType
 5. Product_Desc
 6. EAN
 7. POSItemID
 8. Article_Name
 9. Colour
10. Size
11. Brand
12. P_Group
13. HSN
14. MRP
15. Quantity
16. Discount
17. Amount
18. NetAmount
19. GrossAmount
20. Year
21. ID
22. Code
23. BName
24. Address
25. City
26. State
27. PostalCode
28. Phone
29. sapStoreCode
30. sapStoreTypeCode
31. storeZone
32. storeLocation
33. storeCarpetArea
34. areaGrading
35. rsmName
36. rsmEmail
37. rsmEmployeeCode
38. asmName
39. asmEmail
40. asmEmployeeCode
41. serverID
42. GSTIN
43. businessPhone
44. landline
45. removedDetail
46. merchandiser
47. merchandiser1
48. customRegion
49. StoreCode_store
50. storeManager
51. lic
52. emailID

=== Sample Merged Data ===
Sample with key columns:
 InvoiceNo       Date         Article_Name      Brand  MRP          BName      City       State storeZone           rsmName  storeManager
SH00000001 2024-05-20              Sliders    Paragon  656   Trendy Steps    Mumbai Maharashtra     South      Sunita Patel Sanjay Mishra
SH00000001 2024-05-20       Sports Sandals      Crocs  953   Trendy Steps    Mumbai Maharashtra     South      Sunita Patel Sanjay Mishra
SH00000001 2024-05-20          Dress Boots Van Heusen 4600   Trendy Steps    Mumbai Maharashtra     South      Sunita Patel Sanjay Mishra
SH00000001 2024-05-20              Sandals     Action 1066   Trendy Steps    Mumbai Maharashtra     South      Sunita Patel Sanjay Mishra
SH00000002 2023-12-17                Heels      Metro 4086 Elite Footwear Hyderabad   Telangana     South Shweta Srivastava  Manoj Tiwari
SH00000002 2023-12-17         Chukka Boots Lee Cooper 7930 Elite Footwear Hyderabad   Telangana     South Shweta Srivastava  Manoj Tiwari
SH00000002 2023-12-17 Traditional Slippers      Metro 3286 Elite Footwear Hyderabad   Telangana     South Shweta Srivastava  Manoj Tiwari
SH00000002 2023-12-17        Driving Shoes     Campus 2331 Elite Footwear Hyderabad   Telangana     South Shweta Srivastava  Manoj Tiwari
SH00000002 2023-12-17             Sneakers Lee Cooper 3936 Elite Footwear Hyderabad   Telangana     South Shweta Srivastava  Manoj Tiwari
SH00000003 2023-08-13              Mojaris    Liberty 1884   Trendy Steps    Mumbai Maharashtra     South      Sunita Patel Sanjay Mishra

✅ Merged dataset saved to: merged_sales_store_data.csv

=== Final Summary ===
📊 Dataset Statistics:
   • Total records: 100,000
   • Date range: 2022-01-01 to 2024-12-31
   • Total invoices: 52,805
   • Total revenue: ₹477,036,370.07
   • Cities covered: 7
   • States covered: 6

🏪 Store Information:
   • RSMs managing stores: 12
   • ASMs managing stores: 12
   • Store managers: 11
   • Geographic zones: 5

👟 Product Information:
   • Product categories: 8
   • Brands available: 37
   • Unique products: 50

✅ Merge operation completed successfully!
Use 'merged_sales_store_data.csv' for your analysis with complete sales and store information.